html,
body {
  box-sizing: border-box;
  background-color: #535156;
  /* background-color: coral; */
  height: 100%;
  /* padding: 10px; */
  margin: 0px;
}

.navContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 4vw;
  background-color: coral;
  background-size: 1vw;
  padding-top: 1vw;
  padding-bottom: 0.5vw;

}

.navItem {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  padding: 2vw 4vw 2vw 4vw;
  border: 2px solid coral;
  overflow: hidden;
  text-decoration: none;
  font-size: 5vw;
  outline: none;
  color: #d70d51;
  background: transparent;
  font-family: 'raleway', sans-serif;
}

.nav-btn {}

.arrowContainer {
  padding-top: 2vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 3vw;
  /* justify-content: center;
  align-items: center; */
}

.leftArrow {
  color: #d70d51
}

.rightArrow {
  color: crimson
}



.rightArrow {
  /* align-self: flex-end; */
}

.button span {
  /* font-size: 3vw; */
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.button:before,
.button:after {
  content: '';
  position: absolute;
  top: 0.67em;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: .4s, opacity .5s;
  -moz-transition: .4s, opacity .5s;
  -o-transition: .4s, opacity .5s;
  transition: .4s, opacity .5s;
}

/* :before */

.button:before {
  content: attr(data-hover);
  -webkit-transform: translate(-150%, 0);
  -moz-transform: translate(-150%, 0);
  -ms-transform: translate(-150%, 0);
  -o-transform: translate(-150%, 0);
  transform: translate(-150%, 0);
}

.home-btn a.active .button {
  color: aqua;
}

.home-btn .button:hover {
  color: aqua;
  /* background-color: rgb(250, 97, 41); */
}

.about-btn a.active .button {
  color: rgb(81, 255, 0);
}

.about-btn .button:hover {
  color: rgb(81, 255, 0);
}

.skills-btn a.active .button {
  color: rgb(38, 0, 255);
}

.skills-btn .button:hover {
  color: rgb(38, 0, 255);
}

.projects-btn a.active .button {
  color: rgb(242, 255, 0);
  font-size: 5vw;
}

.projects-btn .button:hover {
  color: rgb(242, 255, 0);
}

.contact-btn a.active .button {
  color: rgb(106, 0, 255);
  font-size: 5vw;
}

.contact-btn .button:hover {
  color: rgb(106, 0, 255);
}


.button:after {
  content: attr(data-active);
  -webkit-transform: translate(150%, 0);
  -moz-transform: translate(150%, 0);
  -ms-transform: translate(150%, 0);
  -o-transform: translate(150%, 0);
  transform: translate(150%, 0);
}

/* Span on :hover and :active */
.navItem:hover {
  border: none;
}

.button:hover span,
.button:active span {
  padding-left: 3vw;
  padding-right: 3vw;
  opacity: 0;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -o-transform: scale(0.3);
  transform: scale(0.3);
}

/*  
  We show :before pseudo-element on :hover 
  and :after pseudo-element on :active 
*/

.button:hover:before,
.button:active:after {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}

/* 
We hide :before pseudo-element on :active
*/

.button:active:before {
  -webkit-transform: translate(-150%, 0);
  -moz-transform: translate(-150%, 0);
  -ms-transform: translate(-150%, 0);
  -o-transform: translate(-150%, 0);
  transform: translate(-150%, 0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}